@tailwind base;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: #0ab68b;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0ab68b;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #028174;
  }




.navbarComp {
  background-color: red;
}

@tailwind components;
@tailwind utilities;